
html,body {
    height: 100%;
    background-image: linear-gradient(90deg, rgb(95, 179, 235), 
rgb(179, 212, 228), rgb(95, 179, 235));
   
}

.login-box{
    height: 100%;
    display:grid;
    justify-content:center;
    align-items: center;  
}
div.login-columns  {
    
    height: 320px;
    width: 100%;
    display: grid;
    justify-content: center;
    font-weight: bold;
    
}


